.projects {
    background-color: #a3daff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left:5vw;
}

.project-box {
    width: 300px;
    height: 100px;
    background: url('../../assets/ob.png') no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.project-box-2 {
    width: 300px;
   // background: url('../../assets/IJ.png') no-repeat ;
    background-size: 70%;
    background-position: center;
    color: white;
    font-size: 34px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
}

.project-box-1 {
    width: 300px;
    height: 200px;
    background: url('../../assets/cba.png') no-repeat;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
}

.project-box-3 {
    width: 300px;
    height: 200px;
    background: url('../../assets/naefos.png') no-repeat;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
}

.project-row {
    display:flex;
    width: 100%;
    h3{
        margin-left:50px;
        width:50%;
        background: transparent;
        display:flex;
        justify-content: center;
        align-items: center;
        color:white;
    }
}
