.about {
    height: 100vh;
    /* Chrome 10-25, Safari 5.1-6 */
background:black;
    // background-image: url('../../assets/01.jpg');

    
    h4 {
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        padding:  0;
        margin: 0;
        z-index: 2;
    }
}



h2 {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 2;
}

p {
    font-size: 1rem;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.profile-box {
    width: 100%;
    justify-content: center;
    display: flex;
    img {
        width: 360px;
        height: 360px;
        opacity: 0.9;
        padding: 16px;
        z-index: 2;
    }
}