.about {
    height:100vh;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #a3daff, #4ea1d3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a3daff, #4ea1d3);
   
}


.skills img {
    margin: 15px;
    height:58px;
    width:58px;
}

.skills-box {
    height: 170px;
    
    display: flex;
    justify-content: center;


}

.about-header-box {
    height: 160px;
    background: #011627;
    grid-area: secondSection;
    text-align: center;
    align-items: center;
}

h3 {
    color: #fff;
    font-size: 56px;
    text-align: center;
    padding: 100px 0;
    margin:0;
 

   
}

button {
    margin:50px 0;
    border: none;
    background: transparent;
    color: #f4f4f4; // position: relative;
    font-size: 20px;
    padding: 0 50px;
    cursor: pointer;
    position: relative;
    &:focus {
        outline: 0;
    }
}

.triangle {
    position: relative;
    &::before {
        content: "";
        margin: 0 0 0 0px;
        width: 0px;
        height: 0px;
        border-bottom: solid 30px #f4f4f4;
        border-left: solid 30px transparent;
        border-right: solid 30px transparent;
        position: absolute;
        top: 80px;
        left: 70px;
        transition: 0.5s ease;
    }
    &.triangle-1 {
        &::before {
            left: 250px  }
    }
}