$color-dark: #373F51;
$color-black:#232323;
$color-white: #cdcdcd;


.contact {
    background-color: #3E78B2;
    background-size: cover;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .left-menu-2 {
        width: 30%;
   
        height: 80%;
    }
    .section-photo-2 {
        align-self: flex-start; // background-color: #544443;
        width: 70%;
        height: 80%;
    }
}