$color-dark: #373F51;
$color-black:#232323;
$color-white: #cdcdcd;
.contact {
    background-color:black ;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size: 100%;
   
    background-position: bottom right;
    position: relative;

//     &:after{
      
//         content: "";
//         position: absolute;
//     height:100%;
//     width:100%;
//         top:-17%;
//         left:65%;
//         background-image: url('../../assets/01.jpg');
//         -webkit-transform: rotate(-60deg);
//         -moz-transform: rotate(-60deg);
//         -ms-transform: rotate(-60deg);
//         -o-transform: rotate(-60deg);
//         transform: rotate(-60deg);
//         opacity: .5;
    
// }
//     &:before{
      
//             content: "";
//             position: absolute;
//         height:100%;
//         width:100%;
//             top:-20%;
//             left:80%;
//             background-image: url('../../assets/01.jpg');
//             -webkit-transform: rotate(-60deg);
//             -moz-transform: rotate(-60deg);
//             -ms-transform: rotate(-60deg);
//             -o-transform: rotate(-60deg);
//             transform: rotate(-60deg);
//             opacity: .9;
        
//     }
}

.emailForm {
    width: 50vw;
}

.formData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textData,
.emailData {
    background: #f4f4f4;
    margin: 5px;
}

.icon-contact {
    color: white;
    padding-bottom:16px;
    font-size: 24px;
    transform: scale(.7);
    img {
        margin-right: 16px;
        width: 48px;
        height: 48px;
    }
}

canvas {
    position: absolute;
    left:0;
    top:-100vh;
    // display:block; 
  
}