.contact {
  background-color: #3E78B2;
  background-size: cover;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact .left-menu-2 {
  width: 30%;
  height: 80%;
}

.contact .section-photo-2 {
  align-self: flex-start;
  width: 70%;
  height: 80%;
}
