$color-dark: #373F51;
$color-black:#232323;
$color-white: #cdcdcd;
.contact {
    background-color: #4ea1d3;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/coding.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
}


.emailForm {
  width:50vw;
}

.formData{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.textData,
.emailData {
    background: #f4f4f4;
    margin:5px;

}
