.footer {
  width: 100%;
  font-family: 'Roboto';
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.footer span {
  padding: 1rem;
  color: white !important;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
