.footer {
    width: 100%;
  
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;z-index:2;
    
    a {
        padding:1rem;
        color:white !important;
        font-size: 0.8rem;
        text-align: center;
        letter-spacing: 0.1rem;
        &:hover {
           
        }
    }
}